*{
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	margin: 0;
}

a {
  text-decoration: none;
}

.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	height: 0 auto;
	/*display: flex;
	flex-wrap: wrap;*/
}

.btn{
	padding: 15px 50px;
	opacity: 0.8;
  	border-radius: 4px;
  	text-align: center;
  	background-color: #3b3b3b;
  	color: #ffffff;
  	font-size: 18px;
}

															/*ATAS*/

header{
	width: 100%;
	height: 85px;
	background-color: #3b3b3b;
	position: fixed;
	top: 0;
	z-index: 10;
}

.logo{
	width: 150px;
	margin-top: 10px;
	padding: 0 30px;
}

.header-left{
	float: left;
}

.header-right{
	float: right;
	margin-right: 30px;
	text-align: center;
	padding-top: 20px;
	/*width: 100%;*/
}

.header-right a{
	line-height: 85px;
  	padding: 0 25px;
  	color: #D3D3D3;
  	/*display: block;*/
  	/*float: right;*/
  	transition: all 0.5s;
  	font-variant: "sans-serif";
}

.top-wrapper {
  padding: 180px 0 100px 0;
  margin-top: 40px;
  background-image: url('street2.jpg');
  background-size: cover;
  color: white;
  text-align: center;
  width: 100%;
 /* min-width: 100%;*/
}

.box-shadow{
	width: 549px;
	background-color: rgba(255, 255, 255, 0.3);
	position: relative;
	height: 200px;
	display: inline-block;
	margin:50px 250px;
}

.box-shadow h1{
	color: #3b3b3b;
	font-size: 55px;
}

																/*TENGAH*/

.heading-border{
	width: 100%;
	height:  45px;
	background-color: #D3D3D3;
	display: inline-block;

}

.heading-border p{
	font-size: 13px;
	color: #3b3b3b;
	text-align: center;
	letter-spacing: 5px;
	font-variant: "sans-serif";
}

.heading{
	text-align:center;
	padding-top: 40px;
}

.heading h2{
	letter-spacing: 10px;
	font-family: helvatica;
	font-size: 36px;
	color: #3b3b3b;
}

.heading p{
	letter-spacing: 5px;
	font-size: 22px;
	color:rgba(17,18,19,0.6);
	font-variant: small-caps;
	font-weight: normal;
	font-family: raleway;
	line-height: normal;
}

.garis-bawah{
	width: 40px;
	background-color: #3b3b3b;
	position: relative;
	height: 1px;
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 5px;
}

.items{
	width: 100%;
	margin-top: 40px;

}

.list-item{
	width: 21%;
	float: left;
	margin-left:50px;
	margin-right: 80px;
	margin-top: 50px;
	position: relative;
	
}

.item-wrapper{
	height: 780px;
	background-color: #f7f7f7;
}

.foto{
	width: 330px;
	height:440px;
}

.foto:hover{
	transform: scale(0.9);
}


.list-item span{
	position: absolute;
	bottom: 4px;
	width:330px;
	line-height: 40px;
	background-color: rgba(18,19,20, 0.8);
}

.tulisan{
	color: white;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	font-family: "sans-serif";
	font-size: 19px;
	letter-spacing: 0.8px;
}

.txt-content{
	/*display: inline-block;*/
	font-size: 65px;
	text-align: center;
	letter-spacing: 12px;
	font-family: helvatica;
	position: absolute;

}

.list-item p{
	position: absolute;
	margin-left: 70px;
	color:#3b3b3b;
	margin-right: 70px;
	top: 0;
}

.message-wrapper{
	text-align: center;
	background-color: #f7f7f7;
}
.bawah{
	padding-top: 10px;
	padding-bottom: 30px;
}

.bawah h2{
	font-family: "sans-serif";
	font-variant: small-caps;
	font-size: 35px;
	color: #3b3b3b;
	margin-bottom: 10px;
}

.bawah p{
	font-size: 15px;
	letter-spacing: 2px;
}

.contact-list{
	background-color: #3b3b3b;
	color: white;
	cursor: pointer;
	font-size: 16px;
	letter-spacing: 2px;
	padding-top: 5px;
}

input{
	width: 300px;
	height: 30px;
}

.tombol{
	text-align: center;
	padding-bottom: 90px;
	padding-top: 10px;
	background-color: #f7f7f7;
	height: 100px;
	position: relative;

}

															/*BAWAH*/

footer{
	padding-top: 30px;
	padding-bottom: 80px;
	background-color: #3b3b3b;
	color: white;
	height: 220px;
	font-family: raleway;
	/*margin-top: 30px;*/
}

.garis-tepi{
	width: 2px;
	background-color: #f7f7f7;
	position: relative;
	height: 15px;
	display: inline-block;
	margin-top: 15px;
	margin-bottom: 5px;
}

.title{
	font-size: 15px;
}

.title-atas{
	font-size: 19px;
	letter-spacing: 2px;
}

.fa{
	margin-right: 20px;
}

.leftpanel{
	width: 25%;
	min-width: 200px;
	float: left;
}

.leftpanel h2{
	margin-left: 20px;
	padding-left: 10px;
}

.middlepanel{
	width: 25%;
	min-width: 100px;
	float: left;
}

.middlepanel2{
	width: 25%;
	min-width: 100px;
	float: left;
}

.rightpanel{
	width: 25%;
	min-width: 100px;
	float: right;
}
